:root {
  --mainColor:#ff62b5;
}
/* gineral proparity */
* {
  box-sizing: border-box;
}
html {
  /* position: relative; */
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:var(--mainColor); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:var(--mainColor); 
}
body {
  font-family: "Almarai", sans-serif !important;
  padding: 0;
  margin: 0;
  height: 100%;
  perspective: 1500px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
}
a {
  color: inherit !important;
}
.nav-link {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.rounded-3 {
  border-radius: 10px !important;
}
/* bg */
.bg-mainColor {
  background-color: var(--mainColor);
}
/* color */
.text-mainColor {
  color: var(--mainColor);
}
/* style items */
.HB1:hover {
  color: white;
  background-color: transparent;
}
#navbarScrollingDropdown::after {
  margin-right: 5px;
  vertical-align: initial !important;
}
.minImg{
  min-height: 240px !important;
}
.mainText {
  font-weight: 900 !important;
  font-size: 2.8rem !important;
  line-height: 5rem;
}
.line {
  position: relative;
  display: inline-block;
}
.line::after {
  display: inline-block;
  position: absolute;
  width: 105%;
  height: 37%;
  top: 57%;
  left: 0;
  right: -3px;
  background-color: var(--mainColor);
  content: "";
  z-index: -1;
  opacity: 0.9;
}
/* Demo styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: min-content;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
body > div.position-relative > div.swiper-button-next {
  left: 10% !important;
  right: auto;
}
body > div.position-relative > div.swiper-button-prev {
  right: 10% !important;
}
body > div.position-relative > div.swiper-button-next::after {
  content: "prev";
  font-size: 30px;
  font-weight: 900;
  background: var(--mainColor);
  height: 60px;
  padding: 15px 20px;
  color: white;
  border-radius: 50%;
}

body > div.position-relative > div.swiper-button-prev::after {
  content: "next";
  font-size: 30px;
  font-weight: 900;
  background: var(--mainColor);
  height: 60px;
  padding: 15px 20px;
  color: white;
  border-radius: 50%;
}

@media (max-width: 991px) {
  #navbarTogglerDemo01 {
    height: 100vh;
    transition: all 0s;
  }
}
@media (max-width: 760px) {
  body > section.container.m-auto.row.my-5.justify-content-center.justify-content-lg-start >
   div.row.col-12.justify-content-center.justify-content-lg-start.col-lg-8 > div.col-12.col-md-6.col-xl-4.rot{
    min-height: 150px;
  }
  .swiper-button-next {
    left: 5% !important;
    right: auto;
    opacity:.7 ;
    /* transform: rotate(90deg); */
  }
  .swiper-button-next:hover,.swiper-button-prev:hover{
    opacity: 1;
  }
  .mainText {
    font-size: 2rem !important;
    line-height: 3rem !important;
  }
  .swiper-button-prev {
    right: 5% !important;
    opacity: .7;
    /* transform: rotate(90deg); */
  }
}
@keyframes animation {
  form {
    width: 25px;
    height: 25px;
  }
  to {
    width: 37px;
    height: 37px;
  }
}
.animation {
  animation-name: animation;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
body > section:nth-child(17) > div > div {
  min-height: 150px;
}
body > div.position-relative {
  height: inherit;
}
.rot{
  margin-top: 20px !important;
}
.rot > div{
  text-align: center;
  transition: transform .5s;
transform-style: preserve-3d;
padding: 80px 0;
}
.rot:hover > div{
  transform: rotateX(180deg);
  transition: transform .5s;
}
.fir{
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom:0
}
.sec{
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
transform: rotateX(180deg);
top: 0;
left: 0;
right: 0;
bottom:0
}